.cards {
  margin: 49px auto 68px;
  display: flex;
  max-width: 880px;
  flex-flow: row wrap;
  column-gap: 17px;
  row-gap: 20px;
  align-self: center;
}

.card {
  display: flex;
  flex-flow: row wrap;
  max-width: calc((880px - (2 * 17px)) / 3);
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}

.card__img {
  width: 100%;
  min-height: 282px;
  background-color: #000;
  align-self: flex-start;
}

.card__caption {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  margin: 24.5px 0 24.5px 21px;
  max-width: calc(282px - 21px - 3px - 21px - 18px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background: none;
  background-image: url(../images/heart.svg);
  border: 0;
  box-shadow: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 21px;
  height: 19px;
  margin-right: 18px;
}

.card__like-btn_active {
  background-image: url(../images/heartfull.svg);
}

.card__add-btn {
  background-image: url(../images/plus.svg);
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  min-width: 150px;
  height: 50px;
  border: #fff solid 2px;
  padding: 14px 64px;
  transition: opacity 0.4s ease-in;
}

.card__add-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 875px) {
  .cards {
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 50px;
  }
 }

 @media screen and (max-width: 796px) {
  .card__add-btn {
    width: 280px;
    background-size: 16px;
  }
 }
