.footer {
  margin: 0 auto;
}

.footer__signature {
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
  margin-bottom: 60px;
}

@media screen and (max-width: 880px) {
  .footer__signature {
    font-size: 14px;
    line-height: 1.2;
    margin: 0 19px 36px;
  }
}
