.popup {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  display: none;
}

.popup__container {
  max-width: 430px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  border: none;
  padding: 0 36px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
}

.popup__container-close {
  background-image: url(../images/plus.svg);
  transform: rotate(-45deg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: 0;
  transition: opacity 0.3s;
  margin-left: 468px;
}

.popup__container-close:hover {
  opacity: 0.6;
}

.popup_active {
  display: flex;
}

@media screen and (max-width: 796px) {
  .popup {
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
  .popup__container {
    max-width: 282px;
    padding: 0 22px;
    row-gap: 0;
    
  }
  .popup__container-close {
    height: 26px;
    width: 26px;
    margin-left: 247px;
    
  }
}
