.popup {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  display: flex;
  flex-flow: column nowrap;
  visibility: hidden;
  transition: opacity 0.4s ease-in, visibility 0ms ease-in 0.4s;
  z-index: 2;
  cursor: pointer;
}

.popup__container {
  max-width: 430px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  border: none;
  padding: 0 36px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 5;
  cursor: default;
}

.popup__container-img {
  max-width: 75vw;
  display: flex;
  flex-flow: column nowrap;
  z-index: 5;
  cursor: default;
}

.popup__img-popout {
  max-width: 75vw;
}

.popup__container-delete {
  width: 100%;
  justify-content: space-evenly;
}

.popup__container-close {
  background-image: url(../images/plus.svg);
  transform: rotate(-45deg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: 0;
  margin-left: 470px;
  transition: opacity 0.3s;
  cursor: pointer;
  z-index: 5;
}

.popup__container-close_img {
  margin: 0;
  align-self: flex-end;
}

.popup__container-close:hover {
  opacity: 0.6;
}

.popup_active {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

@media screen and (max-width: 796px) {
  .popup__container {
    max-width: 282px;
    padding: 0 22px;
  }
  .popup__container-close {
    height: 26px;
    width: 26px;
    margin-bottom: 18.6px;
    margin-left: 247px;
  }
}
