.profile {
  margin-top: 40px;
  max-width: 880px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.profile__user {
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  column-gap: 30px;
}

.profile__picture {
  background-color: #c4c4c4;
  border-radius: 50%;
  justify-self: flex-start;
  align-self: flex-start;
  height: 120px;
  width: 120px;
}

.profile__details {
  display: flex;
  flex-flow: row wrap;
  max-width: 415px;
  row-gap: 10px;
  column-gap: 18px;
  justify-content: space-between;
  margin: 0;
}

.profile__user-name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
  max-width: 373px;
  align-self: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__user-about {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 373px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  padding: 7px;
  background-image: url(../images/pen.svg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  height: 24px;
  width: 24px;
  align-self: center;
  transition: opacity 0.4s ease-in;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-btn {
  background-image: url(../images/plus.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  min-width: 150px;
  height: 50px;
  border: #fff solid 2px;
  border-radius: 2px;
  padding: 14px 64px;
  transition: opacity 0.4s ease-in;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 890px) {
  .profile {
    margin: 0 18px;
  }
}

@media screen and (max-width: 770px) {
  .profile {
    flex-direction: column;
    row-gap: 30px;
    margin: 41.5px 19px 36px;
  }

  .profile__user {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .profile__picture {
    align-self: center;
  }

  .profile__details {
    max-width: 264px;
    justify-content: space-between;
    column-gap: 0;
    row-gap: 11px;
    margin: 0 29px;
  }

  .profile__user-name {
    font-size: 22px;
    line-height: 1.23;
    max-width: 207px;
  }

  .profile__user-about {
    font-size: 14px;
    line-height: 1.2;
    max-width: 240px;
    margin: 0 auto;
  }

  .profile__edit-button {
    margin: 0;
    align-self: center;
    padding: 5.25px;
    width: 17px;
    height: 17px;
  }

  .profile__add-btn {
    width: 280px;
    background-size: 16px;
  }
}
